body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#message {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#rapper img {
  height: 300px;
  width: 300px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #444;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
  height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
  border: 5px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

img[data-feature] {
  display: block;
  margin: 20px auto 0 auto;
}

.contact-container,
.pic-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
